@import "base/_variables.css";
@import "base/_reset.css";
@import "base/_typography.css";

@import "layout/_container.css";

@import "components/_buttons.css";
@import "components/_forms.css";
@import "components/_cards.css";
@import "components/_popups.css";
@import "components/_tables.css";
@import "components/_tabulator.css";
@import "components/_navbar.css";
@import "components/_empty-states.css";
@import "components/_badges.css";
@import "components/_page-headers.css";

@import "pages/_home.css";
@import "pages/_auth.css";
@import "pages/_manager.css";
@import "pages/_flights.css";
@import "pages/_reports.css";
